.createNewGame{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 100vh;
  &-centerComp{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .startGameButton{
    background: #a6ccc1;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    padding: 5px 0 5px 0;
    cursor: pointer;

    &:hover {
      background: #e09300;
    }
    &:disabled {
      background: lightgray;
    }
  }
  .player2Key{
    display: flex;
    align-items: center;
    font-size: 1rem;
    input {
      flex: 1;
      font-size: 1.2rem;
      padding: 4px;
      font-family: monospace;
    }
    p {
      font-family: monospace;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

.clickableFunctionsDiv {
  margin-left: 20px;
  display: flex;
  width: max-content;
  flex-direction: column;
  gap: 20px;

  .clickableFunctions {
    background: #FFA500FF;
    font-size: 1.5rem;
    padding: 10px;
    color: #ffffff;
    font-weight: 600;
  }
}

.revealForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: skyblue solid 2px;

  input {
    font-size: 1rem;
    font-family: monospace;
  }
}
.player-info{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
}